[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# black = "*" (global install)
invoke = "*"
setuptools = "*"
wheel = "*"
twine = "*"
bump2version = "*"
isort = {extras = ["pyproject"],version = "*"}

[packages]
argh = "*"
moreman = {path = "."}
